<%= form_with model: @form, url: user_list_path do |f| %>
  <%= render Cards::FormErrorsCardComponent.new(errors: f.object.errors) %>

  <div>
    <%= f.label :phone_number %>
    <%= @phone_number_confirmation.phone_number %>
  </div>

  <div>
    <%= f.label :idname %>
    <%= f.text_field :idname %>
  </div>

  <%= f.submit %>
<% end %>
