<%= form_with model: @command, url: user_list_path do |f| %>
  <%= render Cards::FormErrorsCardComponent.new(errors: f.object.errors) %>

  <div>
    <%= f.label :phone_number %>
    <%= @command.phone_number %>
  </div>

  <div>
    <%= f.label :idname %>
    <%= f.text_field :idname, autofocus: true %>
  </div>

  <%= f.submit %>
<% end %>
