<%= render CardComponent.new do %>
  <%= render CardBodyComponent.new do %>
    <div class="flex flex-row gap-2 items-center">
      <div class="flex-none">
        <%= link_to profile_path(post.profile.atname) do %>
          <%= render Images::AvatarImageComponent.new(profile: post.profile, width: 50, class_name: "w-[50px]") %>
        <% end %>
      </div>

      <%= link_to profile_path(profile.atname), class: "" do %>
        <% if profile.name.present? %>
          <div class="font-bold">
            <%= profile.name %>
          </div>
        <% end %>

        <div class="text-gray-500 text-sm">
          @<%= profile.atname %>
        </div>
      <% end %>
    </div>

    <div class="mt-2">
      <%= render Cards::PostCard::BodyComponent.new(post:, class_name: "text-2xl") %>
    </div>

    <div class="mt-2">
      <%= link_to(
        mst_absolute_time(post.published_at),
        profile_post_path(post.profile.atname, post.id),
        class: "text-gray-500 text-sm"
      ) %>

      <span class="text-gray-500 text-sm">
        via <%= post.oauth_application.name %>
      </span>
    </div>

    <div class="mt-2">
      <%= render Cards::PostCard::FooterComponent.new(post:, stamp_checker:) %>
    </div>
  <% end %>
<% end %>
