<%= render Mewst::UI::Card.new do %>
  <%= render Mewst::UI::Card::Body.new do %>
    <div class="flex flex-row items-center gap-2">
      <div class="flex-none">
        <%= link_to profile_path(post.profile_record.atname) do %>
          <%= render Images::ProfileAvatarImageComponent.new(profile: post.profile_record, width: 50, class_name: "w-[50px]") %>
        <% end %>
      </div>

      <%= link_to profile_path(profile.atname) do %>
        <% if profile.name.present? %>
          <div class="font-bold">
            <%= profile.name %>
          </div>
        <% end %>

        <div class="text-sm text-gray-500">
          @<%= profile.atname %>
        </div>
      <% end %>
    </div>

    <div class="mt-2">
      <%= render Cards::PostCard::BodyComponent.new(post:, class_name: "text-2xl") %>
    </div>

    <% if post.link %>
      <div class="mt-2">
        <%= link_to post.link.canonical_url, rel: "nofollow noopener", target: "_blank" do %>
          <%= render Cards::LinkCardComponent.new(link: post.link) %>
        <% end %>
      </div>
    <% end %>

    <div class="mt-2">
      <%= link_to(
        mst_absolute_time(post.published_at),
        profile_post_path(post.profile_record.atname, post.id),
        class: "text-gray-500 text-sm"
      ) %>

      <span class="text-sm text-gray-500">
        via <%= post.oauth_application.name %>
      </span>
    </div>

    <div class="mt-2">
      <%= render Cards::PostCard::FooterComponent.new(post:, stamp_checker:) %>
    </div>
  <% end %>
<% end %>
