<%= render CardComponent.new do %>
  <%= render CardBodyComponent.new do %>
    <%= render EntryHeaders::BasicEntryHeaderComponent.new(
      profile: post.profile,
      time: post.published_at,
      detail_path: profile_post_path(post.profile.atname, post.id)
    ) %>

    <%= render Cards::PostCard::BodyComponent.new(post:) %>

    <div class="mt-4">
      <%= render Cards::PostCard::FooterComponent.new(post:, stamp_checker:) %>
    </div>
  <% end %>
<% end %>
