<%= render Mewst::UI::Card.new do %>
  <%= render CardBodyComponent.new do %>
    <%= render EntryHeaders::BasicEntryHeaderComponent.new(
      profile: post.profile,
      time: post.published_at,
      detail_path: profile_post_path(post.profile.atname, post.id)
    ) %>

    <%= render Cards::PostCard::BodyComponent.new(post:) %>

    <% if post.link %>
      <%= link_to post.link.canonical_url, rel: "nofollow noopener", target: "_blank" do %>
        <%= render Cards::LinkCardComponent.new(link: post.link) %>
      <% end %>
    <% end %>

    <div class="mt-4">
      <%= render Cards::PostCard::FooterComponent.new(post:, stamp_checker:) %>
    </div>
  <% end %>
<% end %>
