<div class="bg-base-300 card">
  <div class="card-body">
    <div class="flex flex-row gap-2">
      <div class="flex-none px-2">
        <%= link_to profile_path(post.profile.atname) do %>
          <%= render Images::AvatarImageComponent.new(profile: post.profile, width: 50, class_name: "w-[50px]") %>
        <% end %>
      </div>

      <div class="flex-1">
        <%= render Cards::PostCard::HeaderComponent.new(post:) %>

        <%= render Cards::PostCard::BodyComponent.new(post:) %>

        <div class="mt-2">
          <%= render Cards::PostCard::FooterComponent.new(post:, stamp_checker:) %>
        </div>
      </div>
    </div>
  </div>
</div>
