<% if repost.commented? %>
  <%= render Cards::CommentedRepostCardComponent.new(post:) %>
<% else %>
  <div class="c-content-card border-0 card rounded-4">
    <div class="card-body">
      <div class="fw-bold small text-muted">
        <i class="bi bi-repeat"></i>

        <span class="ms-1">
        <%= t("messages.posts.profile_reposted_html", atname: profile.atname, name: profile.name_or_atname) %>
      </span>
      </div>

      <div class="gx-3 mt-3 row">
        <div class="col-auto">
          <%= link_to profile_path(profile.atname) do %>
            <%= render Images::AvatarImageComponent.new(profile:, width: 40) %>
          <% end %>
        </div>

        <div class="col">
          <%= render Cards::PostCard::HeaderComponent.new(post:) %>

          <div class="py-3">
            <%= render Cards::PostCard::BodyComponent.new(post:) %>
          </div>

          <%= render Cards::PostCard::FooterComponent.new(post:) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
