<% title = t("meta.title.search.show") %>
<% set_meta_tags(title:) %>

<%= render ::Layouts::BasicLayoutComponent.new do %>
  <%= render Containers::BasicContainerComponent.new do %>
    <h1 class="antialiased font-semibold text-2xl">
      <%= title %>
    </h1>

    <hr class="my-4">

    <div>
      <h2 class="antialiased font-semibold text-lg">
        <%= t("nouns.suggested_profiles") %>
      </h2>

      <p class="mt-2 text-gray-500 text-sm">
        <% if @profiles.present? %>
          <%= t("messages.search.suggested_profiles.exists_html") %>
        <% else %>
          <%= t("messages.search.suggested_profiles.not_exists_html") %>
        <% end %>
      </p>

      <div class="mt-4">
        <% if @profiles.present? %>
          <div class="flex flex-col gap-4">
            <% @profiles.each do |profile| %>
              <div id="suggested-profiles-<%= profile.atname %>">
                <%= render Cards::ProfileCardComponent.new(profile:) do |component| %>
                  <% component.with_actions_menu do %>
                    <%= render Buttons::FollowButtonComponent.new(target_profile: profile, follow_checker: @follow_checker, class_name: "w-full") %>
                    <%= render Buttons::CheckSuggestedProfileButtonComponent.new(target_profile: profile) %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% else %>
          <%= render BlankSlateComponent.new(message: t("messages.search.suggested_profiles.blank")) %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
