<% title = t("meta.title.search.show") %>
<% set_meta_tags(title:) %>

<%= render ::Layouts::BasicLayoutComponent.new do %>
  <%= render Containers::BasicContainerComponent.new do %>
    <h1 class="antialiased font-semibold text-2xl">
      <%= title %>
    </h1>

    <hr class="my-4">

    <div>
      <h2 class="antialiased font-semibold text-lg">
        <%= t("nouns.suggested_profiles") %>
      </h2>

      <p class="mt-2 text-gray-500 text-sm">
        <% if @profiles.present? %>
          <%= t("messages.search.suggested_profiles.exists_html") %>
        <% else %>
          <%= t("messages.search.suggested_profiles.not_exists") %>
        <% end %>
      </p>

      <div class="mt-4">
        <% if @profiles.present? %>
          <div class="flex flex-col gap-4">
            <% @profiles.each do |profile| %>
              <div id="suggested-profiles-<%= profile.atname %>">
                <%= render CardComponent.new do %>
                  <%= render CardBodyComponent.new do %>
                    <div class="flex gap-2 justify-between">
                      <div class="flex-none">
                        <%= link_to profile_path(profile.atname) do %>
                          <%= render Images::ProfileAvatarImageComponent.new(profile:, width: 40, class_name: "w-[40px]") %>
                        <% end %>
                      </div>

                      <%= link_to profile_path(profile.atname), class: "basis-9/12 text-body text-decoration-none" do %>
                        <div class="font-bold">
                          <%= name_with_atname(profile:) %>
                        </div>

                        <% if profile.description.present? %>
                          <div class="break-words mt-2 text-sm">
                            <%= profile.description.truncate(100) %>
                          </div>
                        <% end %>
                      <% end %>

                      <div class="basis-3/12 flex flex-col gap-2 text-center">
                        <%= render Buttons::FollowButtonComponent.new(target_profile: profile, follow_checker: @follow_checker, class_name: "w-full") %>
                        <%= render Buttons::CheckSuggestedProfileButtonComponent.new(target_profile: profile) %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% else %>
          <%= render BlankSlateComponent.new(message: t("messages.search.suggested_profiles.blank")) %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
