<% title = t("meta.title.search.show") %>
<% set_meta_tags(title:) %>

<%= render ::Layouts::BasicLayoutComponent.new do %>
  <div class="container mt-3 u-narrow">
    <h1 class="fw-bold">
      <%= title %>
    </h1>
  </div>

  <div class="container u-flat u-narrow">
    <hr class="mb-0">
  </div>

  <div class="container u-narrow">
    <div class="mt-3">
      <h2 class="fw-bold">
        <%= t("nouns.suggested_profiles") %>
      </h2>

      <p class="small text-muted">
        <% if @profiles.present? %>
          <%= t("messages.search.suggested_profiles.exists_html") %>
        <% else %>
          <%= t("messages.search.suggested_profiles.not_exists") %>
        <% end %>
      </p>
    </div>
  </div>

  <div class="container mt-3 u-flat u-narrow">
    <% if @profiles.present? %>
      <div class="gap-3 vstack">
        <% @profiles.each do |profile| %>
          <div class="border-0 c-content-card card rounded-4 u-flat">
            <div class="card-body">
              <div class="gx-3 row" id="suggested-profiles-<%= profile.atname %>">
                <div class="col-auto">
                  <%= link_to profile_path(profile.atname) do %>
                    <%= render Images::AvatarImageComponent.new(profile:, width: 40) %>
                  <% end %>
                </div>

                <div class="col">
                  <%= link_to profile_path(profile.atname), class: "text-body text-decoration-none" do %>
                    <div class="fw-bold">
                      <%= profile.name_with_atname %>
                    </div>

                    <% if profile.description.present? %>
                      <div class="mt-1 small">
                        <%= profile.description.truncate(100) %>
                      </div>
                    <% end %>
                  <% end %>
                </div>

                <div class="align-self-center col-12 col-sm-auto mt-3 mt-sm-0 text-end">
                  <div class="flex-sm-column text-center row">
                    <div class="col-6 col-sm-12">
                      <%= render Buttons::FollowButtonComponent.new(target_profile: profile) %>
                    </div>

                    <div class="col-6 col-sm-12">
                      <%= render Buttons::CheckSuggestedProfileButtonComponent.new(target_profile: profile) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <%= render BlankSlateComponent.new(message: t("messages.search.suggested_profiles.blank")) %>
    <% end %>
  </div>
<% end %>
