<% title = t("meta.title.welcome.show") %>
<% set_meta_tags(title:, reverse: false) %>

<%= render ::Layouts::BasicLayoutComponent.new do %>
  <%= render Containers::BasicContainerComponent.new do %>
    <h1 class="bg-primary font-bold inline-block px-3 py-1 rounded-full">
      <%= t("nouns.mewst_kana") %>
    </h1>

    <div class="mt-3">
      <%= t("messages.welcome.alpha_html") %>

      <ul class="list-disc list-inside mt-3">
        <li>
          <%= link_to "GitHub", "https://github.com/mewstcom/mewst", class: "link", target: "_blank", rel: "nofollow" %>
        </li>

        <li>
          <%= link_to "Bluesky (@shimba.co)", "https://bsky.app/profile/shimba.co", class: "link", target: "_blank", rel: "nofollow" %>
        </li>
      </ul>
    </div>
  <% end %>
<% end %>
