<div class="container py-5 u-flat u-narrow">
  <%= form_with model: @verification, url: sign_in_path do |f| %>
    <%= render Cards::FormErrorsCardComponent.new(errors: f.object.errors) %>

    <div class="mb-3">
      <%= f.label :raw_phone_number, class: "form-label" %>
      <%= render Inputs::PhoneNumberInputComponent.new(form: f, field_name: :raw_phone_number, autofocus: true) %>
    </div>

    <%= f.button class: "btn btn-primary", type: :submit do %>
      <%= t("verbs.submit") %>
    <% end %>
  <% end %>
</div>
