<% title = t("meta.title.sign_in.new") %>
<% set_meta_tags(title:) %>

<%= render ::Layouts::SimpleLayoutComponent.new do %>
  <div class="container max-w-3xl mx-auto">
    <div class="text-center">
      <div class="mt-12">
        <%= link_to root_path, class: "inline-block" do %>
          <%= render Icons::LogoIconComponent.new %>
        <% end %>
      </div>

      <h1 class="font-bold mt-8 text-3xl">
        <%= title %>
      </h1>

      <p class="mt-4">
        <%= t("messages.sign_in.dont_have_an_account_html") %>
      </p>
    </div>

    <div class="bg-base-300 card mt-8">
      <div class="card-body">
        <%= form_with model: @form, url: sign_in_path do |f| %>
          <%= render Cards::FormErrorsCardComponent.new(errors: f.object.errors) %>

          <%= f.label :email, class: "form-control" do %>
            <div class="label">
              <span class="label-text">
                <%= t("forms.attributes.session_form.email") %>
              </span>
            </div>

            <%= f.email_field :email, autocomplete: "username", autofocus: true, class: "input input-bordered w-full", tabindex: 1 %>
          <% end %>

          <%= f.label :password, class: "form-control mt-8" do %>
            <div class="label">
              <span class="label-text">
                <%= t("forms.attributes.session_form.password") %>
              </span>

              <span class="label-text-alt">
                <%= link_to t("meta.title.password_resets.new"), password_reset_path, class: "link", tabindex: 4 %>
              </span>
            </div>

            <%= f.password_field :password, autocomplete: "current-password", class: "input input-bordered w-full", tabindex: 2 %>
          <% end %>

          <div class="mt-8 text-center">
            <%= f.button class: "btn btn-primary rounded-full", tabindex: 3, type: :submit do %>
              <%= t("verbs.sign_in") %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
