<div class="content-start flex gap-2">
  <div class="flex-none">
    <%= link_to profile_path(post.profile.atname) do %>
      <%= render Images::AvatarImageComponent.new(profile: post.profile, width: 50, class_name: "w-[50px]") %>
    <% end %>
  </div>

  <%= link_to profile_path(profile.atname), class: "grow overflow-hidden" do %>
    <div class="font-bold overflow-hidden text-ellipsis whitespace-nowrap">
      <%= profile.name %>
    </div>

    <div class="overflow-hidden text-ellipsis text-gray-500 whitespace-nowrap">
      @<%= profile.atname %>
    </div>
  <% end %>

  <%= link_to(
    mst_time_ago_in_words(post.published_at),
    profile_post_path(profile.atname, post.id),
    class: "flex-none text-gray-500 text-sm"
  ) %>
</div>
