<turbo-frame id="profiles-<%= target_profile.atname %>-follow">
  <% if follow_checker.followed?(target_profile:) %>
    <%= button_to profile_follow_path(target_profile.atname), {
      class: class_names("btn btn-outline no-animation rounded-full", class_name),
      method: :delete
    } do %>
      <i class="bi bi-check-lg"></i>
      <span>
        <%= t("nouns.following") %>
      </span>
    <% end %>
  <% else %>
    <%= button_to profile_follow_path(target_profile.atname), {
      class: class_names("btn btn-primary no-animation rounded-full", class_name),
    } do %>
      <i class="bi bi-plus-lg"></i>
      <span>
        <%= t("verbs.follow") %>
      </span>
    <% end %>
  <% end %>
</turbo-frame>
