<% if signed_in? %>
  <turbo-frame id="posts-<%= post.id %>-stamp">
    <% if stamp_checker.stamped?(post:) %>
      <%= button_to post_stamp_path(post.id), {
        class: "bg-orange-100 border border-orange-300 btn btn-circle btn-sm hover:bg-orange-100 hover:border-orange-200 no-animation text-primary",
        method: :delete
      } do %>
        <%= render Icons::StampedIconComponent.new %>
      <% end %>
    <% else %>
      <%= button_to post_stamp_path(post.id), {
        class: "bg-base-300 border-gray-400 btn btn-circle btn-sm hover:bg-base-300 hover:border-gray-800 hover:text-gray-800 no-animation text-gray-700",
      } do %>
        <%= render Icons::UnstampedIconComponent.new %>
      <% end %>
    <% end %>
  </turbo-frame>
<% else %>
  <span
    class="d-inline-block"
    data-bs-title="<%= t("messages.components.stamp_button.sign_in_required") %>"
    data-bs-toggle="tooltip"
    tabindex="0"
  >
    <button
      class="bg-base-300 border-gray-400 btn btn-circle btn-sm hover:bg-base-300 hover:border-gray-800 hover:text-gray-800 no-animation text-gray-700"
      disabled
      type="button"
    >
      <%= render Icons::UnstampedIconComponent.new %>
    </button>
  </span>
<% end %>
