<% title = t("meta.title.passwords.new") %>
<% set_meta_tags(title:) %>

<%= render ::Layouts::SimpleLayoutComponent.new do %>
  <%= render Containers::BasicContainerComponent.new do %>
    <div class="text-center">
      <div class="mt-12">
        <%= link_to root_path, class: "inline-block" do %>
          <%= render Icons::LogoIconComponent.new(size: "50px") %>
        <% end %>
      </div>

      <h1 class="font-bold mt-8 text-3xl">
        <%= title %>
      </h1>
    </div>

    <div class="bg-base-300 card mt-8">
      <div class="card-body">
        <%= form_with method: :patch, model: @form, url: password_path do |f| %>
          <%= render Cards::FormErrorsCardComponent.new(errors: f.object.errors) %>

          <%= f.label :password, class: "form-control" do %>
            <div class="label">
              <span class="label-text">
                <%= t("forms.attributes.password_reset_form.password") %>
              </span>
            </div>

            <%= f.password_field :password, autofocus: true, class: "input input-bordered w-full", required: true %>

            <div class="label">
              <span class="label-text-alt">
                <%= t("messages.accounts.password_hint_html") %>
              </span>
            </div>
          <% end %>

          <div class="mt-8 text-center">
            <%= f.button class: "btn btn-primary no-animation rounded-full", type: :submit do %>
              <%= t("verbs.submit") %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
