<% title = t("meta.title.settings.emails.show") %>
<% set_meta_tags(title:) %>

<%= render ::Layouts::BasicLayoutComponent.new do %>
  <%= render Containers::BasicContainerComponent.new do %>
    <%= link_to settings_path, class: "link link-hover link-info" do %>
      <i class="bi bi-arrow-left"></i>
      <%= t("nouns.settings") %>
    <% end %>

    <h1 class="antialiased font-semibold mt-2 text-2xl">
      <%= title %>
    </h1>

    <hr class="my-4">

    <%= render Mewst::UI::Card.new do %>
      <%= render Mewst::UI::Card::Body.new do %>
        <%= form_with method: :patch, model: @form, url: settings_email_path do |f| %>
          <%= render Cards::FormErrorsCardComponent.new(errors: f.object.errors, class_name: "mb-4") %>

          <div class="flex flex-col gap-4">
            <label class="form-control">
              <div class="label">
                <span class="label-text">
                  <%= t("nouns.current_email") %>
                </span>
              </div>

              <span>
                <%= viewer!.email %>
              </span>
            </label>

            <%= f.label :new_email, class: "form-control" do %>
              <div class="label">
                <span class="label-text">
                  <%= t("forms.attributes.email_update_form.new_email") %>
                </span>
              </div>

              <%= f.text_field :new_email, autofocus: true, class: "input input-bordered" %>
            <% end %>
          </div>

          <div class="mt-8 text-center">
            <%= f.button class: "btn btn-primary no-animation rounded-full", type: :submit do %>
              <%= t("verbs.update") %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
