<% title = t("meta.title.accounts.new") %>
<% set_meta_tags(title:) %>

<%= render ::Layouts::SimpleLayoutComponent.new do %>
  <%= render Containers::BasicContainerComponent.new do %>
    <div class="text-center">
      <div class="mt-12">
        <%= link_to root_path, class: "inline-block" do %>
          <%= render Icons::LogoIconComponent.new(size: "50px") %>
        <% end %>
      </div>

      <h1 class="font-bold mt-8 text-3xl">
        <%= title %>
      </h1>
    </div>

    <%= render Mewst::UI::Card.new(class_name: "mt-8") do %>
      <%= render Mewst::UI::Card::Body.new do %>
        <%= form_with model: @form, url: account_list_path do |f| %>
          <%= render Cards::FormErrorsCardComponent.new(errors: f.object.errors) %>

          <%= f.label :email, class: "form-control" do %>
            <div class="label">
              <span class="label-text">
                <%= t("forms.attributes.account_form.email") %>
              </span>
            </div>

            <%= text_field_tag :email, f.object.email, {
              class: "input input-bordered w-full",
              disabled: true,
              autocomplete: "off"
            } %>

            <div class="label">
              <span class="label-text-alt">
                <%= t("messages.accounts.email_hint_html") %>
              </span>
            </div>
          <% end %>

          <%= f.label :atname, class: "form-control mt-4" do %>
            <div class="label">
              <span class="label-text">
                <%= t("forms.attributes.account_form.atname") %>
              </span>
            </div>

            <%= f.text_field(
              :atname,
              autofocus: true,
              class: "input input-bordered w-full",
              placeholder: t("messages.accounts.atname_placeholder"),
              required: true
            ) %>

            <div class="label">
              <span class="label-text-alt">
                <%= t("messages.accounts.atname_hint_html") %>
              </span>
            </div>
          <% end %>

          <%= f.label :password, class: "form-control mt-4" do %>
            <div class="label">
              <span class="label-text">
                <%= t("forms.attributes.account_form.password") %>
              </span>
            </div>

            <%= f.password_field :password, autocomplete: "new-password", class: "input input-bordered w-full", required: true %>

            <div class="label">
              <span class="label-text-alt">
                <%= t("messages.accounts.password_hint_html") %>
              </span>
            </div>
          <% end %>

          <div class="mt-8 text-center">
            <%= f.button class: "btn btn-primary no-animation rounded-full", type: :submit do %>
              <%= t("verbs.sign_up") %>
            <% end %>
          </div>
        <% end %>

        <p class="mt-8 text-center text-sm">
          <%= t("messages.accounts.terms_html") %>
        </p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
