<% title = t("meta.title.accounts.new") %>
<% set_meta_tags(title:) %>

<%= render ::Layouts::SimpleLayoutComponent.new do %>
  <div class="container u-flat u-narrow">
    <div class="text-center">
      <div class="mt-3 mt-sm-5">
        <%= link_to root_path, class: "text-body text-decoration-none" do %>
          <%= render Icons::LogoIconComponent.new %>
        <% end %>
      </div>

      <h1 class="fw-bold mt-3 mt-sm-5">
        <%= title %>
      </h1>
    </div>

    <div class="border-0 card mt-3 mt-sm-5 rounded-4 u-flat">
      <div class="card-body">
        <%= form_with model: @form, url: account_list_path do |f| %>
          <%= render Cards::FormErrorsCardComponent.new(errors: f.object.errors) %>

          <div class="mb-3">
            <%= f.label :email, class: "form-label" %>
            <%= text_field_tag :email, f.object.email, class: "form-control-plaintext", readonly: true %>
            <div class="form-text">
              <%= t("messages.accounts.email_hint_html") %>
            </div>
          </div>

          <div class="mb-3">
            <%= f.label :atname, class: "form-label" %>

            <div class="input-group">
              <span class="input-group-text">@</span>
              <%= f.text_field(
                :atname,
                autofocus: true,
                class: "form-control",
                placeholder: t("messages.accounts.atname_placeholder"),
                required: true
              ) %>
            </div>
            <div class="form-text">
              <%= t("messages.accounts.atname_hint_html") %>
            </div>
          </div>

          <div class="mb-3">
            <%= f.label :password, class: "form-label" %>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control", required: true %>
            <div class="form-text">
              <%= t("messages.accounts.password_hint_html") %>
            </div>
          </div>

          <p>
            <%= t("messages.accounts.terms_html") %>
          </p>

          <div class="text-center">
            <%= f.button class: "btn btn-primary rounded-pill", type: :submit do %>
              <%= t("verbs.sign_up") %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
