<% title = t("meta.title.notifications.index") %>
<% set_meta_tags(title:) %>

<%= render ::Layouts::BasicLayoutComponent.new do %>
  <div class="container mt-3 u-narrow">
    <h1 class="fw-bold">
      <%= title %>
    </h1>

    <p class="small text-muted">
      <%= t("messages.notifications.description") %>
    </p>
  </div>

  <div class="container u-flat u-narrow">
    <hr class="mb-0">
  </div>

  <div class="container mt-3 u-flat u-narrow">
    <% if @notifications.present? %>
      <div class="gap-3 mt-3 vstack">
        <% @notifications.each do |notification| %>
          <%= render Cards::NotificationCardComponent.new(notification:) %>
        <% end %>
      </div>

      <div class="mt-3">
        <%= render Paginations::PaginationComponent.new(
          page_info: @page_info,
          previous_path: home_path(before: @page_info.start_cursor),
          next_path: home_path(after: @page_info.end_cursor)
        ) %>
      </div>
    <% else %>
      <%= render BlankSlateComponent.new(message: t("messages.blank_slate.no_notifications")) %>
    <% end %>
  </div>
<% end %>
