<% title = t("meta.title.settings.index") %>
<% set_meta_tags(title:) %>

<%= render ::Layouts::BasicLayoutComponent.new do %>
  <%= render Containers::BasicContainerComponent.new do %>
    <h1 class="antialiased font-semibold text-2xl">
      <%= title %>
    </h1>

    <hr class="my-4">

    <%= render CardComponent.new do %>
      <%= render CardBodyComponent.new do %>
        <ul class="bg-neutral-200 menu rounded-box">
          <li>
            <%= link_to settings_profile_path, class: "flex justify-between" do %>
              <%= t("meta.title.settings.profiles.show") %>

              <i class="bi bi-chevron-right"></i>
            <% end %>
          </li>

          <li>
            <%= link_to settings_user_path, class: "flex justify-between" do %>
              <%= t("meta.title.settings.users.show") %>

              <i class="bi bi-chevron-right"></i>
            <% end %>
          </li>

          <li>
            <%= link_to settings_email_path, class: "flex justify-between" do %>
              <%= t("meta.title.settings.emails.show") %>

              <i class="bi bi-chevron-right"></i>
            <% end %>
          </li>
        </ul>

        <div class="mt-3 text-center">
          <%= button_to t("nouns.sign_out"), sign_out_path, class: "btn btn-link no-animation text-info", method: :delete %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
