<turbo-frame id="repost_dropdown_item_list_<%= @post.id %>">
  <%= form_with(model: @repost_creator, url: repost_list_path(post_id: @post.id)) do |f| %>
    <%= f.hidden_field :post_id %>

    <%= f.button(class: "dropdown-item", type: :submit) do %>
      <i class="bi bi-repeat"></i>

      <span class="ms-1">
        <%= t("verbs.repost") %>
      </span>
    <% end %>
  <% end %>

  <button
    class="dropdown-item"
    type="button"
  >
    <i class="bi bi-chat-quote"></i>

    <span class="ms-1">
      <%= t("verbs.repost_with_comment") %>
    </span>
  </button>
</turbo-frame>
