<%= link_to profile_post_path(post.profile_record.atname, post.id), {
  class: "duration-200 ease-in-out hover:ring-1 hover:ring-gray-400 inline-block rounded-2xl transition w-full"
} do %>
  <%= render Mewst::UI::Card.new do %>
    <%= render Mewst::UI::Card::Body.new do %>
      <div class="<%= class_names("flex gap-4 items-center", "flex-row-reverse": next?) %>">
        <div class="basis-[18px]">
          <%= render Mewst::UI::Icon.new(name: icon_name, size: "18px") %>
        </div>

        <div class="<%= class_names("flex flex-col gap-1 overflow-x-hidden w-full", "flex-row-reverse text-right": next?) %>">
          <div class="text-xs text-gray-500">
            <%= direction_text %>
          </div>

          <div class="line-clamp-1 text-sm">
            <%= post.content.truncate(30) %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
