<div class="bg-base-300 btm-nav h-[56px] lg:hidden sticky">
  <% if signed_in? %>
    <%= link_to home_path do %>
      <i class="bi bi-house"></i>
      <span class="btm-nav-label text-xs">
        <%= t("nouns.home") %>
      </span>
    <% end %>

    <%= link_to search_path do %>
      <i class="bi bi-search"></i>
      <span class="btm-nav-label text-xs">
        <%= t("nouns.search") %>
      </span>
    <% end %>

    <%= link_to new_post_path(with_frame: true), data: { turbo_frame: "modal" } do %>
      <i class="bi bi-pencil-square"></i>
      <span class="btm-nav-label text-xs">
        <%= t("verbs.post") %>
      </span>
    <% end %>

    <%= link_to notification_list_path do %>
      <i class="bi bi-bell"></i>
      <span class="btm-nav-label text-xs">
        <%= t("nouns.notifications") %>
      </span>
    <% end %>

    <%= link_to profile_path(current_actor!.atname) do %>
      <i class="bi bi-person-circle"></i>
      <span class="btm-nav-label text-xs">
        <%= t("nouns.profile") %>
      </span>
    <% end %>
  <% else %>
    <%= link_to home_path do %>
      <i class="bi bi-house"></i>
      <span class="btm-nav-label text-xs">
        <%= t("nouns.home") %>
      </span>
    <% end %>

    <%= link_to sign_up_path do %>
      <i class="bi bi-rocket-takeoff"></i>
      <span class="btm-nav-label text-xs">
        <%= t("nouns.sign_up") %>
      </span>
    <% end %>

    <%= link_to sign_in_path do %>
      <i class="bi bi-box-arrow-in-right"></i>
      <span class="btm-nav-label text-xs">
        <%= t("nouns.sign_in") %>
      </span>
    <% end %>
  <% end %>
</div>
