<nav class="bg-body-tertiary c-bottom-navbar d-lg-none navbar sticky-bottom">
  <div class="align-items-center container-fluid justify-content-between text-center">
    <% if signed_in? %>
      <%= link_to home_path, class: "text-body flex-fill text-center text-decoration-none", style: "width: 20%;" do %>
        <i class="bi bi-house fs-4"></i>
        <div class="small">
          <%= t("nouns.home") %>
        </div>
      <% end %>

      <%= link_to search_path, class: "text-body flex-fill text-center text-decoration-none", style: "width: 20%;" do %>
        <i class="bi bi-search fs-4"></i>
        <div class="small">
          <%= t("nouns.search") %>
        </div>
      <% end %>

      <a
        class="text-body flex-fill text-center text-decoration-none"
        data-bs-target="#postModal"
        data-bs-toggle="modal"
        href="#"
        style="width: 20%;"
      >
        <i class="bi bi-pencil-square fs-4"></i>
        <div class="small">
          <%= t("verbs.post") %>
        </div>
      </a>

      <%= link_to notification_list_path, class: "text-body flex-fill text-center text-decoration-none", style: "width: 20%;" do %>
        <i class="bi bi-bell fs-4"></i>
        <div class="small">
          <%= t("nouns.notifications") %>
        </div>
      <% end %>

      <%= link_to profile_path(current_actor.atname), class: "text-body flex-fill text-center text-decoration-none", style: "width: 20%;" do %>
        <i class="bi bi-person-circle fs-4"></i>
        <div class="small">
          <%= t("nouns.profile") %>
        </div>
      <% end %>
    <% else %>
      <%= link_to home_path, class: "text-body flex-fill text-center text-decoration-none" do %>
        <i class="bi bi-house fs-4"></i>
        <div class="small">
          <%= t("nouns.home") %>
        </div>
      <% end %>

      <%= link_to sign_up_path, class: "text-body flex-fill text-center text-decoration-none" do %>
        <i class="bi bi-rocket-takeoff fs-4"></i>
        <div class="small">
          <%= t("nouns.sign_up") %>
        </div>
      <% end %>

      <%= link_to sign_in_path, class: "text-body flex-fill text-center text-decoration-none" do %>
        <i class="bi bi-box-arrow-in-right fs-4"></i>
        <div class="small">
          <%= t("nouns.sign_in") %>
        </div>
      <% end %>
    <% end %>
  </div>
</nav>
