<nav class="c-navbar bg-body-tertiary navbar navbar-expand-lg position-sticky top-0">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand py-0" do %>
      <svg class="c-logo" height="40" width="30" viewBox="0 0 30 40">
        <path d="M10.1674 31.6673L6.9561 28.456C6.275 27.775 5.7783 26.575 5.7783 25.6111V19.7358C5.7783 19.3765 5.53248 18.7404 5.29096 18.4746L0.601554 13.3163C0.377347 13.0697 0.398962 12.6982 0.641525 12.4776L1.50384 11.6937C1.75018 11.4697 2.12191 11.491 2.34246 11.7335L7.03187 16.8919C7.66723 17.5907 8.13104 18.7913 8.13104 19.7356V25.6109C8.13104 25.951 8.38011 26.5524 8.61981 26.7921L10.9298 29.1022L14.1817 19.0754C15.8499 20.5807 18.0595 21.497 20.4834 21.497C22.9072 21.497 25.1168 20.5807 26.785 19.0753L30.4955 30.5163C32.3271 36.164 28.8816 40.9077 22.9482 40.9077H18.0182C12.4925 40.9077 9.12535 36.7929 10.1673 31.6672L10.1674 31.6673ZM26.0498 1.33333C26.7542 0.488078 28.1299 0.986217 28.1299 2.08642V12.0822C28.1299 16.3073 24.7071 19.7324 20.4833 19.7324C16.2596 19.7324 12.8368 16.308 12.8368 12.0822V2.08642C12.8368 0.986217 14.2125 0.488078 14.9168 1.33333L17.5051 4.43929H23.4614L26.0498 1.33333Z"></path>
      </svg>
    <% end %>

    <button
      aria-controls="navbar-supported-content"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="navbar-toggler"
      data-bs-target="#navbar-supported-content"
      data-bs-toggle="collapse"
      type="button"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-supported-content">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if signed_in? %>
          <li class="nav-item dropdown">
            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">
              <%= t("nouns.menu") %>
            </a>

            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <%= link_to profile_path(current_profile!.atname), class: "dropdown-item" do %>
                  <%= t("nouns.profile") %>
                <% end %>
              </li>

              <li>
                <hr class="dropdown-divider">
              </li>

              <li>
                <%= link_to settings_path, class: "dropdown-item" do %>
                  <%= t("nouns.edit_profile") %>
                <% end %>
              </li>

              <li>
                <hr class="dropdown-divider">
              </li>

              <li>
                <%= link_to t("nouns.sign_out"), sign_out_path, class: "dropdown-item" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to t("nouns.sign_in"), sign_in_path, aria: { current: "page" }, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to t("nouns.sign_up"), sign_up_path, aria: { current: "page" }, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
