<% if signed_in? %>
  <div class="c-top-navbar navbar">
    <div class="flex-1">
      <%= link_to root_path, class: "navbar-brand me-0 py-0" do %>
        <%= render Icons::LogoIconComponent.new %>
      <% end %>
    </div>

    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li>
          <div class="hstack gap-3">
            <%= link_to home_path, class: "nav-link" do %>
              <i class="bi bi-house me-1"></i>
              <%= t("nouns.home") %>
            <% end %>

            <%= link_to search_path, class: "nav-link" do %>
              <i class="bi bi-search me-1"></i>
              <%= t("nouns.search") %>
            <% end %>

            <a class="nav-link" data-bs-target="#postModal" data-bs-toggle="modal" href="#">
              <i class="bi bi-pencil-square me-1"></i>
              <%= t("verbs.post") %>
            </a>

            <%= link_to notification_list_path, class: "nav-link" do %>
              <i class="bi bi-bell me-1"></i>
              <%= t("nouns.notifications") %>
            <% end %>

            <%= link_to profile_path(current_actor!.atname), class: "nav-link" do %>
              <i class="bi bi-person-circle me-1"></i>
              <%= t("nouns.profile") %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>

    <div style="width: 24px;"></div> <%# same width as brand logo %>
  </div>
<% else %>
  <div class="c-top-navbar hidden lg:navbar">
    <div class="flex-1">
      <%= link_to root_path do %>
        <%= render Icons::LogoIconComponent.new %>
      <% end %>
    </div>

    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li>
          <%= link_to t("nouns.sign_in"), sign_in_path, class: "link link-hover" %>
        </li>

        <li>
          <%= link_to t("nouns.sign_up"), sign_up_path, class: "link link-hover" %>
        </li>
      </ul>
    </div>
  </div>
<% end %>
