<% title = t("meta.title.home.show") %>
<% set_meta_tags(title:) %>

<%= render ::Layouts::BasicLayoutComponent.new do %>
  <div class="container max-w-3xl mx-auto">
    <div class="hidden lg:block">
      <turbo-frame id="post-form">
        <%= render Forms::PostFormComponent.new(form: @form) %>
      </turbo-frame>
    </div>
  </div>

  <div class="container max-w-3xl mx-auto">
    <hr class="my-6">
  </div>

  <div class="container max-w-3xl mx-auto">
    <%= render Lists::PostCardListComponent.new(posts: @posts, stamp_checker: @stamp_checker) %>

    <% if @posts.present? %>
      <div class="flex justify-center mt-4">
        <%= render Paginations::PaginationComponent.new(
          page_info: @page_info,
          previous_path: home_path(before: @page_info.start_cursor),
          next_path: home_path(after: @page_info.end_cursor)
        ) %>
      </div>
    <% else %>
      <%= render BlankSlateComponent.new(message: t("messages.blank_slate.no_posts"), class_name: "js-timeline-blank-slate") do %>
        <p class="mt-1">
          <%= t("messages.home.lets_make_the_first_post") %>
        </p>
      <% end %>
    <% end %>
  </div>
<% end %>
