<% title = t("meta.title.settings.profiles.show") %>
<% set_meta_tags(title:) %>

<%= render ::Layouts::BasicLayoutComponent.new do %>
  <div class="container mt-3 u-narrow">
    <%= link_to settings_path, class: "text-decoration-none" do %>
      <i class="bi bi-arrow-left me-1"></i>
      <%= t("nouns.settings") %>
    <% end %>

    <h1 class="fw-bold mt-3">
      <%= title %>
    </h1>
  </div>

  <div class="container u-flat u-narrow">
    <hr class="mb-0">
  </div>

  <div class="container mt-3 u-flat u-narrow">
    <div class="c-content-card border-0 card rounded-4 u-flat">
      <div class="card-body">
        <%= form_with method: :patch, model: @form, url: settings_profile_path do |f| %>
          <%= render Cards::FormErrorsCardComponent.new(errors: f.object.errors) %>

          <div class="mb-3">
            <%= f.label :atname, class: "form-label" %>
            <%= f.text_field :atname, {
              autofocus: true,
              class: "form-control"
            } %>
          </div>

          <div class="mb-3">
            <%= f.label :name, class: "form-label" %>
            <%= f.text_field :name, {
              class: "form-control"
            } %>
          </div>

          <div class="mb-3">
            <%= f.label :description, class: "form-label" %>
            <%= f.text_area :description, {
              class: "form-control",
              data: { controller: "autosize" },
              rows: 3
            } %>
          </div>

          <div class="mb-3">
            <%= f.label :avatar_url, class: "form-label" %>
            <%= f.text_field :avatar_url, {
              class: "form-control"
            } %>
          </div>

          <div class="mb-3">
            <label class="form-label">
              <%= t("nouns.current_avatar") %>
            </label>

            <div>
              <%= render Images::AvatarImageComponent.new(profile: current_actor.profile, width: 50) %>
            </div>
          </div>

          <div class="text-center">
            <%= f.button class: "btn btn-primary rounded-pill", type: :submit do %>
              <%= t("verbs.update") %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
