<% title = t("meta.title.settings.profiles.show") %>
<% set_meta_tags(title:) %>

<%= render ::Layouts::BasicLayoutComponent.new do %>
  <%= render Containers::BasicContainerComponent.new do %>
    <%= link_to settings_path, class: "link link-hover link-info" do %>
      <i class="bi bi-arrow-left"></i>
      <%= t("nouns.settings") %>
    <% end %>

    <h1 class="antialiased font-semibold mt-2 text-2xl">
      <%= title %>
    </h1>

    <hr class="my-4">

    <%= render Mewst::UI::Card.new do %>
      <%= render CardBodyComponent.new do %>
        <%= form_with method: :patch, model: @form, url: settings_profile_path do |f| %>
          <%= render Cards::FormErrorsCardComponent.new(errors: f.object.errors, class_name: "mb-4") %>

          <div class="flex flex-col gap-4">
            <%= f.label :atname, class: "form-control" do %>
              <div class="label">
                <span class="label-text">
                  <%= t("forms.attributes.profile_form.atname") %>
                </span>
              </div>

              <%= f.text_field :atname, autofocus: true, class: "input input-bordered", required: true %>

              <div class="label">
                <span class="label-text-alt">
                  <%= t("messages.accounts.atname_hint_html") %>
                </span>
              </div>
            <% end %>

            <%= f.label :name, class: "form-control" do %>
              <div class="label">
                <span class="label-text">
                  <%= t("forms.attributes.profile_form.name") %>
                </span>
              </div>

              <%= f.text_field :name, class: "input input-bordered" %>
            <% end %>

            <%= f.label :description, class: "form-control" do %>
              <div class="label">
                <span class="label-text">
                  <%= t("forms.attributes.profile_form.description") %>
                </span>
              </div>

              <%= f.text_area :description, class: "textarea textarea-bordered", data: { controller: "autosize" }, rows: 3 %>
            <% end %>

            <div>
              <div class="label">
                <span class="label-text">
                  <%= t("nouns.avatar_image") %>
                </span>
              </div>

              <div class="flex flex-col gap-4">
                <div>
                  <label class="cursor-pointer flex gap-2 items-center">
                    <%= f.radio_button :avatar_kind, ProfileAvatarKind::Default.serialize, class: "radio" %>

                    <%= render Images::AvatarImageComponent.new(image_url: asset_url("avatar.png"), class_name: "w-[30px]", width: 30) %>

                    <span class="label-text">
                      <%= t("activerecord.attributes.profile.avatar_kinds.#{ProfileAvatarKind::Default.serialize}") %>
                    </span>
                  </label>
                </div>

                <div>
                  <label class="cursor-pointer flex gap-2 items-center">
                    <%= f.radio_button :avatar_kind, ProfileAvatarKind::Gravatar.serialize, class: "radio" %>

                    <% if viewer!.gravatar_url.present? %>
                      <%= render Images::AvatarImageComponent.new(image_url: viewer!.gravatar_url, class_name: "w-[30px]", width: 30) %>
                    <% else %>
                      <i class="bi bi-dash-circle-dotted h-[30px] leading-[30px] text-[30px] text-gray-400"></i>
                    <% end %>

                    <span class="label-text">
                      <%= t("activerecord.attributes.profile.avatar_kinds.#{ProfileAvatarKind::Gravatar.serialize}") %>
                    </span>
                  </label>

                  <%= f.label :gravatar_email, class: "form-control pl-[28px]" do %>
                    <div class="label">
                      <span class="label-text">
                        <%= t("forms.attributes.profile_form.gravatar_email") %>
                      </span>
                    </div>

                    <%= f.text_field :gravatar_email, class: "input input-bordered" %>

                    <div class="label pb-0">
                      <span class="label-text-alt">
                        <%= link_to "https://ja.gravatar.com/", rel: "nofollow noopener", target: "_blank" do %>
                          <%= t("messages.profiles.about_gravatar") %>
                          <i class="bi bi-box-arrow-up-right"></i>
                        <% end %>
                      </span>
                    </div>
                  <% end %>
                </div>

                <div>
                  <label class="cursor-pointer flex gap-2 items-center">
                    <%= f.radio_button :avatar_kind, ProfileAvatarKind::External.serialize, class: "radio" %>

                    <% if viewer!.image_url.present? %>
                      <%= render Images::AvatarImageComponent.new(image_url: viewer!.image_url, class_name: "w-[30px]", width: 30) %>
                    <% else %>
                      <i class="bi bi-dash-circle-dotted h-[30px] leading-[30px] text-[30px] text-gray-400"></i>
                    <% end %>

                    <span class="label-text">
                      <%= t("activerecord.attributes.profile.avatar_kinds.#{ProfileAvatarKind::External.serialize}") %>
                    </span>
                  </label>

                  <%= f.label :image_url, class: "form-control pl-[28px]" do %>
                    <div class="label">
                      <span class="label-text">
                        <%= t("forms.attributes.profile_form.image_url") %>
                      </span>
                    </div>

                    <%= f.text_field :image_url, class: "input input-bordered" %>

                    <div class="label pb-0">
                      <span class="label-text-alt">
                        <%= t("messages.profiles.image_url_hint_html") %>
                      </span>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-8 text-center">
            <%= f.button class: "btn btn-primary no-animation rounded-full", type: :submit do %>
              <%= t("verbs.update") %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
