<ul class="nav nav-pills">
  <li class="nav-item">
    <%= link_to settings_path, class: nav_link_class_names(settings_path) do %>
      <%= t("nouns.profile") %>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to settings_account_path, class: nav_link_class_names(settings_account_path) do %>
      <%= t("nouns.account") %>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to settings_connected_account_list_path, class: nav_link_class_names(settings_connected_account_list_path) do %>
      <%= t("nouns.connected_accounts") %>
    <% end %>
  </li>
</ul>
