<% title = t("meta.title.settings.users.show") %>
<% set_meta_tags(title:) %>

<%= render ::Layouts::BasicLayoutComponent.new do %>
  <%= render Containers::BasicContainerComponent.new do %>
    <%= link_to settings_path, class: "link link-hover link-info" do %>
      <i class="bi bi-arrow-left"></i>
      <%= t("nouns.settings") %>
    <% end %>

    <h1 class="antialiased font-semibold mt-2 text-2xl">
      <%= title %>
    </h1>

    <hr class="my-4">

    <%= render CardComponent.new do %>
      <%= render CardBodyComponent.new do %>
        <%= form_with method: :patch, model: @form, url: settings_user_path do |f| %>
          <%= render Cards::FormErrorsCardComponent.new(errors: f.object.errors, class_name: "mb-4") %>

          <div class="flex flex-col gap-4">
            <%= f.label :locale, class: "form-control" do %>
              <div class="label">
                <span class="label-text">
                  <%= t("forms.attributes.user_form.locale") %>
                </span>
              </div>

              <% options = options_for_select(
                [[lang_option_text(lang: :english), "en"], [lang_option_text(lang: :japanese), "ja"]],
                @form.locale
              ) %>
              <%= f.select :locale, options, {}, { class: "select select-bordered" } %>
            <% end %>

            <%= f.label :time_zone, class: "form-control" do %>
              <div class="label">
                <span class="label-text">
                  <%= t("forms.attributes.user_form.time_zone") %>
                </span>
              </div>

              <% options = options_for_select(ActiveSupport::TimeZone.all.map { |time_zone| [time_zone_name(time_zone), time_zone.tzinfo.name] }, f.object.time_zone) %>
              <%= f.select :time_zone, options, {}, { class: "select select-bordered" } %>
            <% end %>
          </div>

          <div class="mt-8 text-center">
            <%= f.button class: "btn btn-primary rounded-full", type: :submit do %>
              <%= t("verbs.update") %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
