<% title = t("meta.title.verification_challenges.new") %>
<% set_meta_tags(title:) %>

<%= render ::Layouts::SimpleLayoutComponent.new do %>
  <%= render Containers::BasicContainerComponent.new do %>
    <div class="text-center">
      <div class="mt-12">
        <%= link_to root_path, class: "inline-block" do %>
          <%= render Icons::LogoIconComponent.new %>
        <% end %>
      </div>

      <h1 class="font-bold mt-8 text-3xl">
        <%= title %>
      </h1>

      <p class="mt-4">
        <%= t("messages.email_confirmations.enter_code") %>
      </p>
    </div>

    <%= render Mewst::UI::Card.new(class_name: "mt-8") do %>
      <%= render CardBodyComponent.new do %>
        <%= form_with model: @form, url: email_confirmation_list_path(after: params[:after]) do |f| %>
          <%= render Cards::FormErrorsCardComponent.new(errors: f.object.errors) %>

          <%= f.label :confirmation_code, class: "form-control" do %>
            <div class="label">
              <span class="label-text">
                <%= t("forms.attributes.email_confirmation_challenge_form.confirmation_code") %>
              </span>
            </div>

            <%= f.number_field :confirmation_code, autofocus: true, class: "input input-bordered w-full" %>
          <% end %>

          <div class="mt-8 text-center">
            <%= f.button class: "btn btn-primary no-animation rounded-full", type: :submit do %>
              <%= t("verbs.submit") %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
