<div class="flex min-h-[100svh] flex-col">
  <%= render Navbars::TopNavbarComponent.new %>

  <div class="<%= class_names("flex-1", main_class_name) %>">
    <%= content %>
  </div>

  <% if with_footer %>
    <div class="mb-[100px] lg:mb-4">
      <%= render Footers::BasicFooterComponent.new %>
    </div>
  <% end %>

  <div class="fixed bottom-0 left-1/2 z-50 flex translate-x-[-50%] flex-col gap-4 p-4">
    <%= render Toasts::FlashToastComponent.new(flash:) %>
    <%= render Navbars::BottomNavbarComponent.new %>
  </div>
</div>
