<div class="flex flex-col min-h-[100svh]">
  <%= render Navbars::TopNavbarComponent.new %>

  <div class="<%= class_names("flex-1", main_class_name) %>">
    <%= content %>
  </div>

  <% if with_footer %>
    <%= render Footers::BasicFooterComponent.new %>
  <% end %>

  <%= render Navbars::BottomNavbarComponent.new %>
</div>
