<%= render Navbars::NavbarComponent.new %>

<div class="container py-3 u-flat u-narrow">
  <h1 class="fw-bold">
    <%= t("verbs.find_friends_on_twitter") %>
  </h1>

  <div class="card mt-3">
    <div class="card-body">
      <div class="vstack gap-4">
        <% [
          ["https://pbs.twimg.com/profile_images/1488548719062654976/u6qfBBkF_400x400.jpg", "Twitter", "@twitter", "What's happening?!"],
          ["https://pbs.twimg.com/profile_images/1585617858184323072/Vy138ToA_400x400.png", "Microsoft", "@Microsoft", "We're on a mission to empower every person and every organization on the planet to achieve more. Support: @MicrosoftHelps"],
          ["https://pbs.twimg.com/profile_images/1605297940242669568/q8-vPggS_400x400.jpg", "Google", "@Google", "#HeyGoogle"]
        ].each do |(image_url, name, username, description)| %>
          <div class="align-items-center gx-3 row">
            <div class="col-auto">
              <%= image_tag image_url, size: "60x60" %>
            </div>

            <div class="col">
              <div>
                <span class="fw-bold">
                  <%= name %>
                </span>

                <small class="text-muted">
                  <%= username %>
                </small>
              </div>

              <div>
                <%= description %>
              </div>
            </div>

            <div class="col-auto">
              <div class="btn btn-primary">
                Follow
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
