<%= form_with(
  model: form,
  url: post_list_path,
  data: {
    character_counter_max_value: Post::MAXIMUM_CONTENT_LENGTH,
    controller: "character-counter",
    action: "turbo:submit-end->modal#close"
  }
) do |f| %>
  <%= render Cards::FormErrorsCardComponent.new(errors: f.object.errors) %>

  <label class="form-control">
    <div class="label pt-0">
      <span class="font-bold label-text">
        <%= t("messages.whats_happening") %>
      </span>

      <span
        class="label-text-alt"
        data-character-counter-target="counter"
      ></span>
    </div>

    <%= f.hidden_field :with_frame %>

    <%= f.text_area(
      :content,
      autofocus: true,
      class: "textarea textarea-bordered w-full",
      data: {
        action: "keyup->character-counter#updateCounter",
        controller: "autosize",
      },
      tabindex: textarea_tabindex
    ) %>
  </label>

  <div class="mt-4 text-center">
    <%= f.button class: "btn btn-primary rounded-full", tabindex: submit_button_tabindex, type: :submit do %>
      <i class="bi bi-send me-1"></i>
      <%= t("verbs.post") %>
    <% end %>
  </div>
<% end %>
