<div class="c-post-form">
  <%= form_with model: @post_creator, url: post_list_path do |f| %>
    <%= render Cards::FormErrorsCardComponent.new(errors: f.object.errors) %>

    <div class="mb-2">
      <%= f.text_area :content, {
        autofocus: true,
        class: "form-control",
        data: { controller: "autosize" }
      } %>
    </div>

    <div class="text-center">
      <%= f.button class: "btn btn-primary", type: :submit do %>
        <i class="bi bi-send mr-1"></i>
        <%= t("verbs.post") %>
      <% end %>
    </div>
  <% end %>
</div>
