<% title = t("meta.title.profiles.show", atname: @profile.atname, name: @profile.name) %>
<% set_meta_tags(title:) %>

<%= render ::Layouts::BasicLayoutComponent.new do %>
  <div class="container u-flat u-narrow">
    <div class="border-0 card mt-sm-3 rounded-4 u-flat">
      <div class="card-body">
        <div class="align-items-center gx-3 row">
          <div class="col-auto">
            <%= link_to profile_path(@profile.atname) do %>
              <%= render Images::AvatarImageComponent.new(profile: @profile, width: 100) %>
            <% end %>
          </div>

          <div class="col">
            <div class="fw-bold mt-2">
              <% if @profile.name.present? %>
                <div class="h3 mb-0">
                  <%= @profile.name %>
                </div>
              <% end %>

              <div class="text-muted">
                @<%= @profile.atname %>
              </div>
            </div>
          </div>
        </div>

        <% if @profile.description.present? %>
          <div class="mt-3 text-break">
            <%= render_content(@profile.description) %>
          </div>
        <% end %>

        <div class="align-items-center d-flex justify-content-between mt-3">
          <div><%# レイアウト調整のために必要なdiv %></div>
          <div>
            <% if signed_in? %>
              <% if current_actor.atname == @profile.atname %>
                <%= link_to t("nouns.edit_profile"), settings_profile_path, class: "btn btn-outline-secondary rounded-pill" %>
                <%=
                  link_to settings_path,
                          class: "btn btn-outline-secondary ms-1 rounded-circle",
                          style: "padding-right: 0.75rem; padding-left: 0.75rem;" do
                %>
                  <i class="bi bi-gear"></i>
                <% end %>
              <% else %>
                <%= render Buttons::FollowButtonComponent.new(target_profile: @profile, follow_checker: @follow_checker) %>
              <% end %>
            <% end %>
          </div>
          <div>
            <%= render Dropdowns::ProfileOptionsDropdownComponent.new(profile: @profile) %>
          </div>
        </div>
      </div>
    </div>

    <% if @posts.present? %>
      <div
        class="gap-3 js-timeline mt-3 vstack"
        data-controller="timeline"
      >
        <% @posts.each do |post| %>
          <%= render Cards::PostCardComponent.new(post:, stamp_checker: @stamp_checker) %>
        <% end %>
      </div>

      <div class="mt-3 text-center">
        <%= render Paginations::PaginationComponent.new(
          page_info: @page_info,
          previous_path: profile_path(@profile.atname, before: @page_info.start_cursor),
          next_path: profile_path(@profile.atname, after: @page_info.end_cursor)
        ) %>
      </div>
    <% else %>
      <%= render BlankSlateComponent.new(message: t("messages.blank_slate.no_posts")) %>
    <% end %>
  </div>
<% end %>
