<% title = t("meta.title.profiles.show", atname: @profile.atname, name: @profile.name) %>
<% set_meta_tags(title:) %>

<%= render ::Layouts::BasicLayoutComponent.new do %>
  <%= render Containers::BasicContainerComponent.new do %>
    <%= render CardComponent.new do %>
      <%= render CardBodyComponent.new do %>
        <div class="flex gap-4 items-center">
          <%= link_to profile_path(@profile.atname) do %>
            <%= render Images::ProfileAvatarImageComponent.new(profile: @profile, width: 100, class_name: "w-[100px]") %>
          <% end %>

          <div class="font-bold">
            <% if @profile.name.present? %>
              <div class="mb-0 text-lg">
                <%= @profile.name %>
              </div>
            <% end %>

            <div class="text-gray-500">
              @<%= @profile.atname %>
            </div>
          </div>
        </div>

        <% if @profile.description.present? %>
          <div class="break-words mt-4">
            <%= render_content(@profile.description) %>
          </div>
        <% end %>

        <div class="flex items-center justify-between mt-4">
          <div><%# レイアウト調整のために必要なdiv %></div>
          <div class="flex gap-2">
            <% if signed_in? %>
              <% if viewer.atname == @profile.atname %>
                <%= link_to(
                      t("nouns.edit_profile"),
                      settings_profile_path,
                      class: "bg-base-300 border-gray-400 btn hover:bg-base-300 hover:border-gray-800 hover:text-gray-800 no-animation rounded-full text-gray-700"
                ) %>
                <%= link_to(
                      settings_path,
                      class: "bg-base-300 border-gray-400 btn btn-circle hover:bg-base-300 hover:border-gray-800 hover:text-gray-800 no-animation text-gray-700 text-lg"
                ) do %>
                  <i class="bi bi-gear"></i>
                <% end %>
              <% else %>
                <%= render Buttons::FollowButtonComponent.new(target_profile: @profile, follow_checker: @follow_checker) %>
              <% end %>
            <% end %>
          </div>
          <div>
            <%= render Dropdowns::ProfileOptionsDropdownComponent.new(profile: @profile) %>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="mt-4">
      <%= render Lists::PostCardListComponent.new(posts: @posts, stamp_checker: @stamp_checker) %>
    </div>

    <% if @posts.present? %>
      <div class="flex justify-center mt-4">
        <%= render Paginations::PaginationComponent.new(
          page_info: @page_info,
          previous_path: profile_path(@profile.atname, before: @page_info.previous_cursor),
          next_path: profile_path(@profile.atname, after: @page_info.next_cursor)
        ) %>
      </div>
    <% else %>
      <div id="post-blank-slate">
        <%= render BlankSlateComponent.new(message: t("messages.blank_slate.no_posts"), class_name: "py-8") do %>
          <div class="mt-2">
            <p class="hidden lg:block">
              <%= t("messages.home.lets_make_the_first_post_pc") %>
            </p>

            <p class="lg:hidden">
              <%= t("messages.home.lets_make_the_first_post_mobile") %>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
