<% title = t("meta.title.sign_up.new") %>
<% set_meta_tags(title:) %>

<%= render Cards::FlashCardComponent.new(flash:) %>

<%= render(Containers::NarrowContainerComponent.new) do %>
  <%= form_with model: @verification, url: sign_up_path do |f| %>
    <%= render Cards::FormErrorsCardComponent.new(errors: f.object.errors) %>

    <div class="mb-3">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>

    <%= f.button class: "btn btn-primary", type: :submit do %>
      <%= t("verbs.submit") %>
    <% end %>
  <% end %>
<% end %>
