<div class="content-start flex gap-2">
  <div class="flex-none">
    <% if show_avatar_with_follow_button? %>
      <%= render Buttons::FollowButtonWithAvatarComponent.new(
        target_profile: profile,
        follow_checker:, avatar_width: 50
      ) %>
    <% else %>
      <%= link_to profile_path(profile.atname) do %>
        <%= render Images::ProfileAvatarImageComponent.new(profile:, width: 50, class_name: "w-[50px]") %>
      <% end %>
    <% end %>
  </div>

  <%= link_to profile_path(profile.atname), class: "grow overflow-hidden" do %>
    <div class="font-bold overflow-hidden text-ellipsis whitespace-nowrap">
      <%= profile.name %>
    </div>

    <div class="overflow-hidden text-ellipsis text-gray-500 whitespace-nowrap">
      @<%= profile.atname %>
    </div>
  <% end %>

  <% if detail_path.nil? %>
    <div class="flex-none text-gray-500 text-sm">
      <%= mst_time_ago_in_words(time) %>
    </div>
  <% else %>
    <%= link_to(mst_time_ago_in_words(time), detail_path, class: "flex-none text-gray-500 text-sm") %>
  <% end %>
</div>
