<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= mewst_display_meta_tags %>
    <meta
      name="viewport"
      <%#
        `maximum-scale=1`:
          ポスト投稿ページ (/new) をiOSのSafariで開いたときautofocus属性の影響でズームされてしまうのを防ぐために入れている
          ref: https://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone
      %>
      content="width=device-width, initial-scale=1, maximum-scale=1"
    >
    <%# iOSのSafariで「ホームに追加」した時にフルスクリーン表示にする %>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/favicon.ico" rel="icon" sizes="any">
    <link href="/icon.svg" rel="icon" type="image/svg+xml">
    <link href="/manifest.json" rel="manifest">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" rel="stylesheet">

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= yield %>

    <turbo-frame id="modal"></turbo-frame>
  </body>
</html>
